<ion-content>
  <ion-img src="/assets/header.png"></ion-img>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Policía de Proximidad</h4>
        </div>
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="Correo electrónico"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Contraseña"></ion-input>
          </ion-item>
        </div>

        <div padding>
          <ion-button size="medium" (click)="doLogin()" expand="block">INGRESAR</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
