<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      Puntos estratégicos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/header.png"></ion-img>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Bienvenido</ion-card-subtitle>
      <ion-card-title>Aplicativo de Policía de Proximidad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Herramienta de seguimiento a las rutas estratégicas definidas por la operación policial.</p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Acciones</ion-label>
    </ion-list-header>
    <!--<ion-item>
      <ion-icon slot="start" color="dark" name="notifications"></ion-icon>
      <ion-label>Registrar visita</ion-label>
    </ion-item>-->
    <ion-item routerLink="/app/tabs/tab2/quadrants" routerDirection="forward">
      <ion-icon slot="start" color="dark" name="share-alt"></ion-icon>
      <ion-label>Catálogo de destinos</ion-label>
    </ion-item>
    <ion-item routerLink="/app/tabs/tab2/visit-route" routerDirection="forward">
      <ion-icon slot="start" color="dark" name="git-network"></ion-icon>
      <ion-label>Ver recorrido</ion-label>
    </ion-item>

    <ion-item routerLink="/app/tabs/tab2/all-quadrants" routerDirection="forward">
      <ion-icon slot="start" color="dark" name="map"></ion-icon>
      <ion-label>Ver todos los cuadrantes</ion-label>
    </ion-item>

    <ion-item routerLink="/app/tabs/tab2/all-zones" routerDirection="forward">
      <ion-icon slot="start" color="dark" name="move"></ion-icon>
      <ion-label>Ver zonas</ion-label>
    </ion-item>
    <!--<ion-item>
      <ion-icon slot="start" color="dark" name="eye"></ion-icon>
      <ion-label>Comprobar visitas realizadas</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="dark" name="stats"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-item>-->
  </ion-list>

</ion-content>
