<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Datos del policía</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item color="danger" *ngIf="buttonDisabled">
      <ion-label>
        No posicionado en cuadrante asignado. No puede pasar asistencia
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Grado</ion-label>
      <ion-input [(ngModel)]="grado" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Clave de empleado</ion-label>
      <ion-input [(ngModel)]="clave_empleado" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cuadrante asignado</ion-label>
      <ion-input [(ngModel)]="cuadrante" disabled></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <ion-button (click)="sendData()" [disabled]="buttonDisabled" expand="full" shape="round" color="success">Pasar asistencia</ion-button>
  </div>

</ion-content>
