<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Registro de recorrido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label position="stacked">Lugar</ion-label>
      <ion-textarea [(ngModel)]="place.nombre" [disabled]="disabled"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Policía</ion-label>
      <ion-input [(ngModel)]="clave_empleado" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Observaciones</ion-label>
      <ion-select  [(ngModel)]="observaciones" okText="Aceptar" cancelText="Cancelar">
        <ion-select-option value="Todo en orden">Todo en orden</ion-select-option>
        <ion-select-option value='Faltas Administrativas (Personas en estado de ebriedad, drogados, alteración del orden, etc.)'>Faltas Administrativas (Personas en estado de ebriedad, drogados, alteración del orden, etc.)</ion-select-option>
        <ion-select-option value='Riñas'>Riñas</ion-select-option>
        <ion-select-option value='Decibeles'>Decibeles</ion-select-option>
        <ion-select-option value='Daños al Municipio'>Daños al Municipio</ion-select-option>
        <ion-select-option value='Persona Tiradas en Via Publica'>Persona Tiradas en Via Publica</ion-select-option>
        <ion-select-option value='Personas Atropelladas'>Personas Atropelladas</ion-select-option>
        <ion-select-option value='Personas Lesionadas (Caídas, fracturas,etc)'>Personas Lesionadas (Caídas, fracturas,etc)</ion-select-option>
        <ion-select-option value='Intento de lesion por Arma Blanca o Fuego'>Intento de lesion por Arma Blanca o Fuego</ion-select-option>
        <ion-select-option value='Personas Lesionadas por arma blanca'>Personas Lesionadas por arma blanca</ion-select-option>
        <ion-select-option value='Persona lesionadas por arma de fuego'>Persona lesionadas por arma de fuego</ion-select-option>
        <ion-select-option value='Violencia Intrafamiliar'>Violencia Intrafamiliar</ion-select-option>
        <ion-select-option value='Violencia Contra la Mujer'>Violencia Contra la Mujer</ion-select-option>
        <ion-select-option value='Violencia Infantil'>Violencia Infantil</ion-select-option>
        <ion-select-option value='Robo a casa habitación SIN VIOLENCIA'>Robo a casa habitación SIN VIOLENCIA</ion-select-option>
        <ion-select-option value='Robo a casa habitación CON VIOLENCIA'>Robo a casa habitación CON VIOLENCIA</ion-select-option>
        <ion-select-option value='Intento de robo de pertenecias'>Intento de robo de pertenecias</ion-select-option>
        <ion-select-option value='Robo de pertenecias'>Robo de pertenecias</ion-select-option>
        <ion-select-option value='Intento de robo a Comercio'>Intento de robo a Comercio</ion-select-option>
        <ion-select-option value='Robo a comercios'>Robo a comercios</ion-select-option>
        <ion-select-option value='Intento de Allanamiento de morada'>Intento de Allanamiento de morada</ion-select-option>
        <ion-select-option value='Allanamiento de morada'>Allanamiento de morada</ion-select-option>
        <ion-select-option value='Robo a transporte público'>Robo a transporte público</ion-select-option>
        <ion-select-option value='Farderos'>Farderos</ion-select-option>
        <ion-select-option value='Robo a transeúntes'>Robo a transeúntes</ion-select-option>
        <ion-select-option value='Intento de Robo de Vehiculo'>Intento de Robo de Vehiculo</ion-select-option>
        <ion-select-option value='Robo de combustible'>Robo de combustible</ion-select-option>
        <ion-select-option value='Robo de Vehículos SIN VIOLENCIA'>Robo de Vehículos SIN VIOLENCIA</ion-select-option>
        <ion-select-option value='Robo de Vehículos CON VIOLENCIA'>Robo de Vehículos CON VIOLENCIA</ion-select-option>
        <ion-select-option value='Robo de Motocicletas SIN VIOLENCIA'>Robo de Motocicletas SIN VIOLENCIA</ion-select-option>
        <ion-select-option value='Robo de Motocicletas CON VIOLENCIA'>Robo de Motocicletas CON VIOLENCIA</ion-select-option>
        <ion-select-option value='Vehículos abandonados y desvalijados'>Vehículos abandonados y desvalijados</ion-select-option>
        <ion-select-option value='Vehículos y personas sospechosas'>Vehículos y personas sospechosas</ion-select-option>
        <ion-select-option value='Apoyo a Grua'>Apoyo a Grua</ion-select-option>
        <ion-select-option value='Apoyo a Transito Municipal'>Apoyo a Transito Municipal</ion-select-option>
        <ion-select-option value='Arracones'>Arracones</ion-select-option>
        <ion-select-option value='Derrapado'>Derrapado</ion-select-option>
        <ion-select-option value='Volcadura'>Volcadura</ion-select-option>
        <ion-select-option value='Obstruccion de vialidad'>Obstruccion de vialidad</ion-select-option>
        <ion-select-option value='Percance vehicular'>Percance vehicular</ion-select-option>
        <ion-select-option value='Servicios Médicos'>Servicios Médicos</ion-select-option>
        <ion-select-option value='Servicios de Protección civil (panales,incendios, fugas de gas)'>Servicios de Protección civil (panales,incendios, fugas de gas)</ion-select-option>
        <ion-select-option value='Reporte de fallas en suministros (gas, luz y agua)'>Reporte de fallas en suministros (gas, luz y agua)</ion-select-option>
        <ion-select-option value='Caninos Agresivos'>Caninos Agresivos</ion-select-option>
        <ion-select-option value='Personas extraviadas (Menores de edad)'>Personas extraviadas (Menores de edad)</ion-select-option>
        <ion-select-option value='Personas extraviadas (Mayores de edad)'>Personas extraviadas (Mayores de edad)</ion-select-option>
        <ion-select-option value='Hallazgo de arma de fuego o arma punzocortantes(cuchillo,machetes,etc.)'>Hallazgo de arma de fuego o arma punzocortantes(cuchillo,machetes,etc.)</ion-select-option>
        <ion-select-option value='Detonaciones'>Detonaciones</ion-select-option>
        <ion-select-option value='Personas con arma de fuego'>Personas con arma de fuego</ion-select-option>
        <ion-select-option value='Activación de alarma en Hogar'>Activación de alarma en Hogar</ion-select-option>
        <ion-select-option value='Activación de alarma Comercio o Fabricas'>Activación de alarma Comercio o Fabricas</ion-select-option>
        <ion-select-option value='Defunciones (Muerte natural, por enfermedad)'>Defunciones (Muerte natural, por enfermedad)</ion-select-option>
        <ion-select-option value='Deceso por Accidente'>Deceso por Accidente</ion-select-option>
        <ion-select-option value='Deceso por Accidente de Tránsito'>Deceso por Accidente de Tránsito</ion-select-option>
        <ion-select-option value='Deceso por Atropellamiento'>Deceso por Atropellamiento</ion-select-option>
        <ion-select-option value='Homicidios (Femenino)'>Homicidios (Femenino)</ion-select-option>
        <ion-select-option value='Homicidios (Masculino)'>Homicidios (Masculino)</ion-select-option>
        <ion-select-option value='Intento de Homicidio'>Intento de Homicidio</ion-select-option>
        <ion-select-option value='Llamadas de extorsión'>Llamadas de extorsión</ion-select-option>
        <ion-select-option value='Olores fétidos'>Olores fétidos</ion-select-option>
        <ion-select-option value='Ruidos sospechosos'>Ruidos sospechosos</ion-select-option>
        <ion-select-option value='Bultos sospechosos'>Bultos sospechosos</ion-select-option>
        <ion-select-option value='Intento de Suicidio'>Intento de Suicidio</ion-select-option>
        <ion-select-option value='Suicidio'>Suicidio</ion-select-option>
        <ion-select-option value='Intento de Privación de la libertad'>Intento de Privación de la libertad</ion-select-option>
        <ion-select-option value='Privación de la Libertad'>Privación de la Libertad</ion-select-option>
        <ion-select-option value='Acoso sexual'>Acoso sexual</ion-select-option>
        <ion-select-option value='Violación'>Violación</ion-select-option>
        <ion-select-option value='Intento de violación'>Intento de violación</ion-select-option>
        <ion-select-option value='Asegurados Juez Conciliador'>Asegurados Juez Conciliador</ion-select-option>
        <ion-select-option value='Asegurados MP'>Asegurados MP</ion-select-option>
        <ion-select-option value='Apoyos a UEAVVIG'>Apoyos a UEAVVIG</ion-select-option>
        <ion-select-option value='Llamadas de apoyos y comisiones'>Llamadas de apoyos y comisiones</ion-select-option>
      </ion-select>
    </ion-item>

    <!--<ion-item>
      <ion-label position="stacked">Observaciones</ion-label>
      <ion-textarea [(ngModel)]="observaciones" ></ion-textarea>
    </ion-item>-->

    <ion-item>
      <div *ngIf="cameraImageURI != null">
        <img [src]="cameraImageURI">
      </div>
      <ion-button (click)="takePicture()" expand="full" color="primary">Tomar fotografía</ion-button>
    </ion-item>

  </ion-list>

  <div padding>
    <ion-button (click)="sendData()" expand="full" shape="round" color="success">Enviar datos</ion-button>
  </div>

</ion-content>
