<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Registro de recorrido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label position="stacked">Lugar</ion-label>
      <ion-textarea [(ngModel)]="place.nombre" disabled></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Policía</ion-label>
      <ion-input [(ngModel)]="clave_empleado" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Observaciones</ion-label>
      <ion-select  [(ngModel)]="observaciones" okText="Aceptar" cancelText="Cancelar">
        <ion-select-option value="Todo en orden">Todo en orden</ion-select-option>
        <ion-select-option value="Sin novedad">Sin novedad</ion-select-option>
        <ion-select-option value="Alteración al orden">Alteración al orden</ion-select-option>
        <ion-select-option value="Robo">Robo</ion-select-option>
        <ion-select-option value="Sospechoso">Sospechoso</ion-select-option>
        <ion-select-option value="Junta vecinal">Junta vecinal</ion-select-option>
      </ion-select>
    </ion-item>

    <!--<ion-item>
      <ion-label position="stacked">Observaciones</ion-label>
      <ion-textarea [(ngModel)]="observaciones" ></ion-textarea>
    </ion-item>-->

    <ion-item>
      <div *ngIf="cameraImageURI != null">
        <img [src]="cameraImageURI">
      </div>
      <ion-button (click)="takePicture()" expand="full" color="primary">Tomar fotografía</ion-button>
    </ion-item>

  </ion-list>

  <div padding>
    <ion-button (click)="sendData()" expand="full" shape="round" color="success">Enviar datos</ion-button>
  </div>

</ion-content>
