<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Enviando datos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <h3>No cerrar esta ventana mientras se te indique enviar tu posición</h3>
  <ion-img src="/assets/satelite.png"></ion-img>
  <h1 style="color: red; text-align: center">ENVIANDO POSICIÓN</h1>
</ion-content>
